@namespace Gurux.DLMS.AMI.Client.Helpers.Table
@using Gurux.DLMS.AMI.Shared.DIs;

@inherits ComponentBase
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier

<td style="@CssStyle" class="@CssClass" @attributes="@AdditionalAttributes">
    <a href="@Link" @onclick="() => OnSelect()">
        @ChildContent
    </a>
</td>

@code
{
    /// <summary>
    /// Parent table.
    /// </summary>
    [CascadingParameter]
    private IGXTable? Parent { get; set; }

    /// <summary>
    /// href link.
    /// </summary>
    [Parameter]
    public string? Link { get; set; }

    [Parameter]
    public object? Target { get; set; }

    /// <summary>
    /// Gets or sets the item template for the list.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? CssStyle { get; set; }

    [Parameter]
    public string? CssClass { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    //New target is selected.
    private void OnSelect()
    {
        if (Target != null)
        {
            Parent?.SelectCell(Target);
        }
        if (Notifier != null)
        {
            Notifier.ChangePage(NavigationManager.Uri);
        }
        if (!string.IsNullOrEmpty(Link))
        {
            ClientHelpers.NavigateTo(NavigationManager, Notifier, Link);
        }
    }

    /// <summary>
    /// Initialize context menu.
    /// </summary>
    protected override void OnInitialized()
    {
        if (Parent == null)
        {
            throw new ArgumentNullException(nameof(Parent), "Th must exist within a GXTable");
        }
        base.OnInitialized();
    }
}