@page "/config/blockmanage"
@using Gurux.DLMS.AMI.Client.Pages.Block
@using Gurux.DLMS.AMI.Shared.DIs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs.Authentication
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Shared.DTOs

@attribute [Authorize(Roles = GXRoles.Admin + "," + GXRoles.BlockManager + "," + GXRoles.BlockGroupManager)]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier

<TabControl SelectionChanged="SelectionChanged" InitialTab="ActiveTab">
    <TabTextTemplate>
        <span class=@context.Icon aria-hidden="true"></span>
        @context.Text
    </TabTextTemplate>
    <ChildContent>
        <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.BlockManager)>
            <TabPage Text=@Properties.Resources.BlocksTitle Icon="oi oi-browser">
                <div style="position: relative; width: 100%; ">
                    <Blocks></Blocks>
                </div>
            </TabPage>
        </AuthorizeView>
        <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.BlockGroupManager)>
            <TabPage Text=@Properties.Resources.BlockGroups Icon="oi oi-timer">
                <div style="position: relative; width: 100%; ">
                    <BlockGroups></BlockGroups>
                </div>
            </TabPage>
        </AuthorizeView>
    </ChildContent>
</TabControl>
<br />
@code {

    private int ActiveTab { get; set; } = 0;

    /// <summary>
    /// User has selected a new tab.
    /// </summary>
    /// <param name="index">Tab index.</param>
    void SelectionChanged(int index)
    {
        Notifier.RemoveLastPage();
        Notifier.UpdateData(GXPages.BlockManage, index);
    }

    protected override void OnInitialized()
    {
        object? data = Notifier.GetData(GXPages.BlockManage);
        if ((data is int value) && value != 0)
        {
            ActiveTab = value;
        }
        Notifier.ChangePage(GXPages.BlockManage, data, true);
    }
}

