@page "/config/workflowmanage"
@using Gurux.DLMS.AMI.Client.Pages.Workflow
@using Gurux.DLMS.AMI.Shared.DIs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs.Authentication
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Shared.DTOs

@attribute [Authorize(Roles = GXRoles.Admin + "," + GXRoles.WorkflowManager + "," + GXRoles.WorkflowGroupManager)]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier

<TabControl SelectionChanged="SelectionChanged" InitialTab="ActiveTab">
    <ChildContent>
        <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.WorkflowManager)>
            <TabPage Text=@Properties.Resources.Workflows Icon="oi oi-fork">
                <div style="position: relative; width: 100%; ">
                    <Workflows></Workflows>
                </div>
            </TabPage>
        </AuthorizeView>
        <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.WorkflowGroupManager)>
            <TabPage Text=@Properties.Resources.WorkflowGroups Icon="oi oi-timer">
                <div style="position: relative; width: 100%; ">
                    <WorkflowGroups></WorkflowGroups>
                </div>
            </TabPage>
        </AuthorizeView>
        <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.WorkflowLog)>
            <TabPage Text=@Properties.Resources.WorkflowLogs Icon="oi oi-warning">
                <div style="position: relative; width: 100%; ">
                    <WorkflowLogs></WorkflowLogs>
                </div>
            </TabPage>
        </AuthorizeView>
    </ChildContent>
</TabControl>
<br />
@code {

    private int ActiveTab { get; set; } = 0;

    /// <summary>
    /// User has selected a new tab.
    /// </summary>
    /// <param name="index">Tab index.</param>
    void SelectionChanged(int index)
    {
        Notifier.RemoveLastPage();
        Notifier.UpdateData(GXPages.WorkflowManage, index);
    }

    protected override void OnInitialized()
    {
        object? data = Notifier.GetData(GXPages.WorkflowManage);
        if ((data is int value) && value != 0)
        {
            ActiveTab = value;
        }
        Notifier.ChangePage(GXPages.WorkflowManage, data, true);
    }
}

