.contextmenu {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
    box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
    padding: 5px 0;
    z-index: 1000;
    right:5px;
}


.contextmenuitems {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    z-index: 2000;
}

.contextmenuitem {
    min-width: 120px;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    z-index: 5000;
}

    .contextmenuitem:hover {
        background-color: rgba(0,0,0,.05);
    }

.dots::after {
    content: '\2807';
}
