<!--
// --------------------------------------------------------------------------
//  Gurux Ltd
//
//
//
// Filename:        $HeadURL$
//
// Version:         $Revision$,
//                  $Date$
//                  $Author$
//
// Copyright (c) Gurux Ltd
//
//---------------------------------------------------------------------------
//
//  DESCRIPTION
//
// This file is a part of Gurux Device Framework.
//
// Gurux Device Framework is Open Source software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2 of the License.
// Gurux Device Framework is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// This code is licensed under the GNU General Public License v2.
// Full text may be retrieved at http://www.gnu.org/licenses/gpl-2.0.txt
//---------------------------------------------------------------------------
-->

@using Gurux.DLMS.AMI.Shared.DTOs.Enums

<div class="form-group">
    <label>@Properties.Resources.Script</label>
    <textarea id="scriptBox" value="@SourceCode" 
        onchange="@((ChangeEventArgs __e) =>UpdateScript(Convert.ToString(__e.Value)))" 
        rows="15" disabled="@IsDeleting" class="form-control" />
</div>
@code {
    [Parameter]
    public string? SourceCode { get; set; }

    [Parameter]
    public bool IsDeleting { get; set; }

    [Parameter]
    public EventCallback<string> ScriptChanged { get; set; }

    private async Task UpdateScript(object? value)
    {
        SourceCode = Convert.ToString(value);
        await ScriptChanged.InvokeAsync(SourceCode);
    }  
}
