@using Gurux.DLMS.AMI.Shared.DTOs
@typeparam TItem
<li class="draggable" draggable="true" title="@Name" @ondragstart="@(() => HandleDragStart(Target))">
    <p class="description">@Description</p>
</li>

@code {
    [CascadingParameter]
    SelectionContainer<TItem>? Container { get; set; }

    [CascadingParameter]
    SelectionList<TItem>? List { get; set; }

    [Parameter]
    public TItem? Target { get; set; }

    public string? Name
    {
        get
        {
            if (List == null || Target == null)
            {
                return null;
            }
            return List?.GetName(Target);
        }
    }
    public string? Description
    {
        get
        {
            return List?.GetDescription(Target);
        }
    }

    private void HandleDragStart(TItem target)
    {
        if (Container != null && List != null)
        {
            Container.SourceList = List.Items;
            Container.Item = target;
        }
    }
}