@namespace Gurux.DLMS.AMI.Client.Helpers.Switch

<CascadingValue Value="this">
    <label class="form-check-label">@Text</label>
    @ChildContent
    <div class="form-check form-switch">
        <input class="form-check-input"
               type="checkbox"
               checked="@IsChecked()"
               disabled="@IsDisabled()"
               @onchange="@((ChangeEventArgs __e) => Checked = Convert.ToBoolean(__e.Value))">
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Switch text.
    /// </summary>
    [Parameter]
    public string? Text { get; set; }


    /// <summary>
    /// Is switch disabled
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Is switch checked
    /// </summary>
    [Parameter]
    public bool Checked { get; set; }


    private string? IsChecked()
    {
        return Checked ? "checked" : null;
    }

    private string? IsDisabled()
    {
        return Disabled ? "disabled" : null;
    }
}