.button {
    background-color: whitesmoke;
    border: none;
    color: Black;
    padding: 8px 8px;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

    .button:hover {
        opacity: 1
    }
