<!--
// --------------------------------------------------------------------------
//  Gurux Ltd
//
//
//
// Filename:        $HeadURL$
//
// Version:         $Revision$,
//                  $Date$
//                  $Author$
//
// Copyright (c) Gurux Ltd
//
//---------------------------------------------------------------------------
//
//  DESCRIPTION
//
// This file is a part of Gurux Device Framework.
//
// Gurux Device Framework is Open Source software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2 of the License.
// Gurux Device Framework is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// This code is licensed under the GNU General Public License v2.
// Full text may be retrieved at http://www.gnu.org/licenses/gpl-2.0.txt
//---------------------------------------------------------------------------
-->
@using Gurux.DLMS.AMI.Client.Shared
@using Gurux.DLMS.AMI.Module;
@using Gurux.DLMS.AMI.Shared.DIs

@inject GXModuleService modules
@inject IGXNotifier2 Notifier
@inject NavigationManager NavigationManager
@implements IDisposable

<CascadingValue Value=this>
    @ChildContent
</CascadingValue>
<div class="btn-group" role="group">
    @foreach (GXMenuItem it in Notifier.Items)
    {
        <button class="nav-link btn btn-link" onclick="@(() => it.OnClick())"
                disabled="@IsDisabled(it)">
            @if (it.Icon != null)
            {
                <div class="@it.Icon"></div>
            }
            &nbsp;@it.Text
        </button>
    }
</div>
<!--Show help.-->
<a href="@GetHelpPath()" target="_blank"><div class="oi oi-question-mark"></div></a>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool IsDisabled(GXMenuItem it)
    {

        var enabled = (it.Enabled == Components.Enums.EnableStyle.Always) ||
                     (it.Enabled == Components.Enums.EnableStyle.Modified &&
                     Notifier.EditContext != null && Notifier.EditContext.IsModified()) ||
                     (it.Enabled == Components.Enums.EnableStyle.Unmodified &&
                     Notifier.EditContext != null && !Notifier.EditContext.IsModified());

        Console.WriteLine("Mikko " + enabled);
        return !enabled;
    }
    ///
    string? _page;

    private string GetHelpPath()
    {
        string str = "https://gurux.fi/gurux.dlms.ami4";
        if (!string.IsNullOrEmpty(_page))
        {
            if (_page.StartsWith("https://") ||
                _page.StartsWith("http://"))
            {
                str = _page;
            }
            else
            {
                str += "/" + _page;
            }
        }
        return str;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        string path = NavigationManager.ToBaseRelativePath(e.Location);
        int start = 0;
        if (path.ToLower().StartsWith("config/"))
        {
            start = 7;
        }
        //Find extension help.
        if (path.ToLower().StartsWith("extension/edit/"))
        {
            path = path.Substring(15);
            foreach (var asm in modules.Assemblies)
            {
                foreach (var type in asm.GetExportedTypes())
                {
                    if (type.IsAbstract || !type.IsClass || type.FullName == null)
                    {
                        continue;
                    }
                    if (type.GetInterfaces().Contains(typeof(IAmiModule)))
                    {
                        IAmiModule? tmp = (IAmiModule?)asm.CreateInstance(type.FullName);
                        if (string.Compare(path, tmp?.Id, true) == 0)
                        {
                            _page = tmp.Help;
                            StateHasChanged();
                            return;
                        }
                    }
                }
            }
            foreach (var type in modules.Types)
            {
                if (type.IsAbstract || !type.IsClass || type.FullName == null)
                {
                    continue;
                }
                if (type.GetInterfaces().Contains(typeof(IAmiModule)))
                {
                    IAmiModule? tmp = (IAmiModule?)Activator.CreateInstance(type);
                    if (string.Compare(path, tmp?.Id, true) == 0)
                    {
                        _page = tmp.Help;
                        StateHasChanged();
                        return;
                    }
                }
            }
        }
        int pos = path.IndexOf('/', start);
        if (pos != -1)
        {
            path = path.Substring(0, pos);
        }
        _page = path;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Notifier.OnUpdateButtons += () =>
        {
            StateHasChanged();
        };
        NavigationManager.LocationChanged += OnLocationChanged;
        if (Notifier.Items.Count != 0)
        {
            Notifier.Items.Clear();
            StateHasChanged();
        }
        Notifier.OnDirty += (a, b) =>
                {
                    StateHasChanged();
                };
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
