<!--
// --------------------------------------------------------------------------
//  Gurux Ltd
//
//
//
// Filename:        $HeadURL$
//
// Version:         $Revision$,
//                  $Date$
//                  $Author$
//
// Copyright (c) Gurux Ltd
//
//---------------------------------------------------------------------------
//
//  DESCRIPTION
//
// This file is a part of Gurux Device Framework.
//
// Gurux Device Framework is Open Source software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2 of the License.
// Gurux Device Framework is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// This code is licensed under the GNU General Public License v2.
// Full text may be retrieved at http://www.gnu.org/licenses/gpl-2.0.txt
//---------------------------------------------------------------------------
-->

@typeparam TItem

<button class="btn btn-link"
        style="padding: 0; border: none; background: none;"
        onclick="@(() => Click())">
    @Text
</button>
@code
{
    [Parameter]
    public string? Text { get; set; }

    private void Click()
    {
        if (OnClick != null && Target != null)
        {
            OnClick(Target);
        }
    }

    /// <summary>
    /// User has click the link.
    /// </summary>
    [Parameter]
    public Action<TItem>? OnClick { get; set; }

    [Parameter]
    public TItem? Target { get; set; }

}