
<CascadingValue Value="this">
    <label class="form-check-label">@Text</label>
    @ChildContent
    <div class="form-check form-switch">
        <input class="form-check-input"
               type="checkbox"
               checked="@IsChecked()"
               disabled="@IsDisabled()"
               onchange="@((ChangeEventArgs e) => UpdateCheck(Convert.ToBoolean(e.Value)))">
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Switch text.
    /// </summary>
    [Parameter]
    public string? Text { get; set; }


    /// <summary>
    /// Is switch disabled
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; }

    /// <summary>
    /// Is switch checked
    /// </summary>
    [Parameter]
    public bool Checked { get; set; }


    private string? IsChecked()
    {
        return Checked ? "checked" : null;
    }

    private string? IsDisabled()
    {
        return Disabled ? "disabled" : null;
    }

    private void UpdateCheck(bool value)
    {
        if (Checked != value)
        {
            Checked = value;
            if (OnChange != null)
            {
                OnChange(value);
            }
        }
    }

    /// <summary>
    /// Receive notification when user changes the value.
    /// </summary>
    [Parameter]
    public Action<bool>? OnChange { get; set; }
}