@namespace Gurux.DLMS.AMI.Client.Helpers

<div data-toggle="tooltip" title="@Title" style="@Style">
    @ChildContent
</div>
@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Tooltip title.
    /// </summary>
    [Parameter]
    public string Title { get; set; } = "";


    /// <summary>
    /// Tooltip style.
    /// </summary>
    [Parameter]
    public string? Style { get; set; }
}